DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cashi_db"
PORT=3000
JWT_SECRET="secret"
JWT_EXPIRES_IN="7d"
R2_ACCESS_KEY_ID="access_key"
R2_SECRET_ACCESS_KEY="secret"
R2_BUCKET_NAME="cashi-app"
R2_PUBLIC_URL="url"
R2_ACCOUNT_ID="id"